html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: url(bg.jpg), #ffffff;
  background-size: cover;
  background-position: center;
  box-shadow: inset 4px 4px 30px 22px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #ffffff;
  padding: 0 10px;
  font-size: 13px;
  position: absolute;
  width: 100%;
}

nav img {
  width: 25px;
  height: 25px;
}

nav a {
  padding: 0px 15px;
}

a:visited,
a:link {
  color: #ffffff;
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
}

h5 {
  padding: 0px 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  padding: 20px 35px 0;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.left {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  width: 300px;
}

.left div:first-of-type {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 3px;
}

.left div:last-of-type {
  font-size: 10px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .left {
    /* width: 400px; */
    padding: 20px;
  }
}

button {
  width: 130px;
  border-radius: 14px;
  border: none;
  background: rgba(160, 44, 44, 0.7);
  color: #ffffff;
  padding: 10px 0px;
  margin-top: 20px;
  outline: none;
  font-size: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right img:nth-of-type(2) {
  padding: 0 10px;
}
.right img {
  height: 28vw;
}

@media (max-width: 768px) {
  .right img {
    height: 200px;
  }
}
